.App {
  display: flex;
  text-align: center;
  align-items: center;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #0f0026;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.compatterns/asfalt-light.png");
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
